dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.4
django-geojson==2.6.0
django-leaflet==0.15.2
django-tastypie==0.12.1
gunicorn==19.2.1
jsonfield==1.0.1
psycopg2==2.5.4
python-dateutil==2.4.0
python-mimeparse==0.1.4
six==1.9.0
static3==0.5.1
